<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/css/styles.css">
    <link rel="icon" href="../Assets/img/Captura de pantalla 2024-03-11 213632 (1).ico">
    <title>Incio | Cabaña Ancla</title>
</head>

<body>

    <header class="header">

        <section class="caja-logo">
            <img src="../Assets/img/logotipo_ancla.png" alt="Logo_Ancla" height="80px" class="logo-principal">
        </section>

        <nav class="nav">

            <ul class="barnav">
                <li class="menu"><a href="index.html"><b>INICIO</b></a></li>
                <li class="menu"><a href="#"><b>CABAÑA</b></a></li>
                <li class="menu"><a href="#"><b>LOCALIZACION</b></a></li>
                <li class="menu"><a href="#"><b>TARIFAS</b></a></li>
            </ul>

        </nav>

    </header>

</body>

</html>